*{
    cursor: none;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: black;
}

.paused{
    animation-play-state: paused;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex-column-center;
    width: 90%;

    p{
        font-family: "Droid", sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $yellow;
        font-size: 3vw
    }

    .popup-btns{
        @include flex-center;
        width: 100%;
        margin-top: 2vh;

        .popup-btn{
            height: 40px;
            width: 80px;
            background: transparent;
            color: $yellow;
            border: 1px $yellow solid;
            border-radius: 10px;
            text-transform: uppercase;

            &:hover{
                background: $yellow;
                color: black;
                transition: ease-out 0.2s all;
            }
        }
    }
}

.audio-control{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 10px;
    display: none;

    .btn{
        height: 50px;
        opacity: 0.5;
        transition: all ease-out .3s;

        &:hover{
            opacity: 1;
        }
    }
}

.scene{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;


    .intro{
        color: $blue;
        font-size: 3.4vw;
        font-family: "Droid", sans-serif;
        text-align: left;
        position: absolute;
        top: calc(100vh - 50%);
        left: calc(100vw - 50%);
        transform: translate(-50%, -50%);
        letter-spacing: 1px;
        opacity: 0;
    }

    .opening-stars{
        width: 100%;
        height: 100%;
        background-image: url("/img/background.jpg");
        background-size: cover;
        perspective: 15vh;
        opacity: 0;

        .opening-stars--logo{
            width: 180%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .opening-stars--crawl{
            color: $yellow;
            text-align: justify;
            font-size: 4.5vw;
            font-weight: 700;
            transform: rotateX(20deg);
            position: absolute;
            top: 220vh;

            header{
                text-transform: uppercase;
                text-align: center;
            }

            p{
                width: 100%;
                margin: auto;
            }
        }
    }
}

.outro{
    color: $yellow;
    position: absolute;
    top: 0;
    transform: translateX(50%);
    @include flex-column-center;
    height: 100%;
    opacity: 0;

    h2, h3{
        font-family: "Droid", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    h2{
        font-size: 2vw;
    }

    h3{
        font-size: 1.3vw;
    }

    .outro-socials{
        @include flex-center;
        width: 50vw;
        height: 3vh;
        margin-top: 5vh;

        a{
            height: 3vh;

            svg{
                height: 3vh;
                opacity: 0.7;
                fill: white;
                transition: all ease-in 0.3s;

                &:hover{
                    fill: $yellow;
                    opacity: 1;
                }
            }
        }
    }
}

// Animations


.intro{
    animation: intro 6s ease-out;
    animation-play-state: paused;
}
@keyframes intro {
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}

.opening-stars{
    animation: stars 0s linear 7s forwards;
    animation-play-state: paused;
}

@keyframes stars {
    0%{opacity: 1;}
    100%{opacity: 1;}
}

.opening-stars--logo{
    animation: logo 9s ease-out 7s forwards;
    animation-play-state: paused;
}

@keyframes logo {
    0%{
        width: 180%;
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        width: 0%;
        opacity: 0;
    }
}

.opening-stars--crawl{
    animation: crawl 60s 6s linear forwards ;
    animation-play-state: paused;
}

@keyframes crawl {
    0%{
        top: 220vh;
        transform: rotateX(20deg) translateZ(40vh);
    }

    95%{
        opacity: 1;
    }

    100%{
        top: -300vh;
        transform: rotateX(20deg) translateZ(-100vh);
        opacity: 0;
    }
}

.outro{
    animation: fade 3s ease-in 64s forwards;
    animation-play-state: paused;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

//Custom cursor

#cursor{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    content: url('/img/lightsaber.png');
    transform: translate(-20%, -80%);
    transition: opacity 0.1s ease-out;
    opacity: 1;
}

